.weather{
	width:538px;height:434px;
	border:solid 1px #00f;
	font:normal 12px/30px "Microsoft Yahei";
}
.weather .wPlace{
	padding-left:10px;height:30px;
}
.weather .wPlace span{
	margin:0 5px;
}
.weather .wContainer{
	background-image: -webkit-linear-gradient(top, rgb(72, 86, 99), rgb(161, 184, 202));
	height:404px;
}
.weather .wContainer .wBody{
	overflow:hidden;
}
.weather .wContainer p,.weather .wContainer span{
	color:#fff;font:normal 12px "Microsoft Yahei";
}
.weather .wContainer em{
	color:#fff;font:normal 12px "Microsoft Yahei";
}
.weather .wBox{
	float:left;width:88px;height:250px;text-decoration: none;
	position:relative;
}
.weather .wToday{
	width:186px;
}
.weather .wToday .wDateTime{
	width:300px;margin:12px 0 0 12px;height:12px;
}
.weather .wToday .wAir{
	width:300px;margin:8px 0 0 12px;height:18px;
}
.weather .wToday .wAir em{
	display:inline-block;width:82px;height:18px;line-height:18px;text-align:center;
	background:#afdb00;
	margin-left:5px;
}
.weather .wBox.wToday .wCurrent .wStatus{
	width: 50px;height: 50px;margin: 8px 0 0 60px;
	background-image: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/aladdin/img/new_weath/bigicon/5.png);
	background-repeat:no-repeat;background-size:cover;
}
.weather .wCurrent .wCurTemp{
	text-align:center;
}
.weather .wCurrent .wCurTemp .big{
    display: inline-block;line-height: 64px;
	font-size: 48px;font-family: Arial;
    text-shadow: 1px 1px 1px #555;
}
.weather .wCurrent .wCurTemp .small{
    display: inline-block;
}
.weather .wCurrent .wCurTemp .small em{
    text-shadow: 1px 1px 1px #555;
    text-align: left;
    display: block;
}
.weather .wBox .wTemp,.weather .wBox .wWeath,.weather .wBox .wWind{
    text-align: center;text-shadow: 1px 1px 1px #555;
    line-height: 1em;
}
.weather .wBox .wTemp{
    margin-top:22px;
}
.weather .wBox.wToday .wTemp{
    margin-top:8px;
}
.weather .wBox .wWeath{
    margin-top:12px;
}
.weather .wBox .wWind{
    margin-top:11px;
}
.weather .wBox .wSplit{
    background: #fff;filter: alpha(opacity=15);opacity: 0.15;
    position:absolute;left: 0px;top: 58px;
    width: 1px;height: 180px;
}
.weather .wBox .wWeek{
    margin-top:56px;height:12px;text-align:center;
}
.weather .wBox .wDate{
    text-align:center;text-shadow: none;
    margin-top: 8px;height:12px;
}
.weather .wBox .wStatus{
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/aladdin/img/new_weath/icon/9.png);
    background-repeat: no-repeat;background-size: cover;
    width: 50px;height: 50px;
    margin: 20px 0 0 20px;
}
.weather .wTabBd{
    height:114px;    
    background: rgba(255,255,255,0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#10ffffff, endColorstr=#10ffffff);
}
.weather .wTabBd .wTabBdBox{
   display:none;position: relative;
}
.weather .wTabBd .wTabBdBox.selected{
   display:block;
}
.weather .wTabBd .precipitation{
    overflow:hidden;
}
.weather .wTabBd .precipitation ul{
    width: 498px;height: 86px;
    margin: 15px auto 0;
}
.weather .wTabBd .precipitation li{
    float:left;width:54px;height:86px;border-right:dashed 1px rgba(255,255,255,0.3);
}
.weather .wTabBd .precipitation li span{
    display:block;text-align:center;line-height:18px;
}
.weather .wTabBd .precipitation .water{
    background:url(../images/icowater.png) no-repeat;
    margin: 13px 0 13px 18px;
    height: 24px;
}
.weather .wTabBd .precipitation .water0{background-position:0 0;}
.weather .wTabBd .precipitation .water1{background-position:0 -33px;}
.weather .wTabBd .precipitation .water2{background-position:0 -66px;}
.weather .wTabBd .precipitation .water3{background-position:0 -99px;}
.weather .wTabBd .precipitation .water4{background-position:0 -132px;}
.weather .wTabBd .precipitation .water5{background-position:0 -165px;}
.weather .wTabBd .precipitation .water6{background-position:0 -198px;}
.weather .wTabBd .precipitation .water7{background-position:0 -231px;}
.weather .wTabBd .precipitation .water8{background-position:0 -264px;}
.weather .wTabBd .precipitation .water9{background-position:0 -297px;}
.weather .wTabBd .precipitation .water10{background-position:0 -330px;}
.weather .wTabBd .wTabBdBox .canvasY{
    position: absolute;top: 8px;left: 0px;
    width: 33px;height: 86px;
    font-size: 10px;
}
.weather .wTabBd .wTabBdBox .canvasY li{
    line-height:13.6px;padding-top: 4px;color:#fff;text-align:right;
}
.weather .wTabBd .wTabBdBox .canvasChart{
    margin-left:36px;margin-right:-10px;
    position:relative;
    height:106px;
}
.weather .wTabBd .wTabBdBox .canvasChart canvas{
    position:absolute;left:0;top:0;width:480px;height:86px;cursor:pointer;
}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox{
    float:left;width:56px;height:106px;
    position:relative;
    cursor:pointer;
}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon{
    position: absolute;left: 13px;top: 61px;
    width: 14px;height: 14px;    
    background: url(../images/ico.png) no-repeat;
    background-position: 0px -27px;
}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon1{left: 13px;top: 61px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon2{left: 13px;top: 53px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon3{left: 13px;top: 44px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon4{left: 13px;top: 53px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon5{left: 13px;top: 53px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon6{left: 13px;top: 44px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon7{left: 13px;top: 53px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon8{left: 13px;top: 53px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbIcon9{left: 13px;top: 53px;}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbDialog{
    position:absolute;top: 108px;left: -30px;z-index: 1000;
    display: none;width: 100px;
    cursor:pointer;
}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbDialog .arrow{
    position: absolute;top: 1px;left:40px;z-index: 2;width: 0;height: 0;
    border-color: transparent transparent white transparent;
    border-width: 0 5px 5px 5px;
    border-style: solid;
}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbDialog .cont{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 5px;padding: 10px;
    background: #fff;
}
.weather .wTabBd .wTabBdBox .canvasChart .tempChartBox .wcbDialog .cont p{
    color: #555;
}
.weather .wTabBd .wTabBdBox .canvasX{
    position:absolute;top:90px;left:40px;right:-10px;height:18px;
}
.weather .wTabBd .wTabBdBox .canvasX li{
    float: left;width: 56px;line-height:18px;
    text-align: left;
    color: #fff;
}
.weather .wTabBd .temperature .canvasChart .tempChartBox{
    position:relative;
}
.weather .wTabBd .temperature .canvasChart .tempChartBox .circle{
    width:6px;height:6px;border-radius:3px;background:#fff;
    position:absolute;left:14px;
}
.weather .wTabBd .temperature .canvasChart .tempChartBox:hover .circle{
    background:#74E4FB;
}
.weather .wTabBd .temperature .canvasChart .tempChartBox .txt{
    text-align:center;color:#fff;
    position:absolute;left:5px;
}
.weather .wTabBd .temperature .canvasChart .tcb1 .circle{top:54px;}
.weather .wTabBd .temperature .canvasChart .tcb2 .circle{top:51px;}
.weather .wTabBd .temperature .canvasChart .tcb3 .circle{top:58px;}
.weather .wTabBd .temperature .canvasChart .tcb4 .circle{top:64px;}
.weather .wTabBd .temperature .canvasChart .tcb5 .circle{top:64px;}
.weather .wTabBd .temperature .canvasChart .tcb6 .circle{top:61px;}
.weather .wTabBd .temperature .canvasChart .tcb7 .circle{top:61px;}
.weather .wTabBd .temperature .canvasChart .tcb8 .circle{top:48px;}
.weather .wTabBd .temperature .canvasChart .tcb9 .circle{top:54px;}
.weather .wTabBd .temperature .canvasChart .tcb1 .txt{top:32px;}
.weather .wTabBd .temperature .canvasChart .tcb2 .txt{top:29px;}
.weather .wTabBd .temperature .canvasChart .tcb3 .txt{top:36px;}
.weather .wTabBd .temperature .canvasChart .tcb4 .txt{top:42px;}
.weather .wTabBd .temperature .canvasChart .tcb5 .txt{top:42px;}
.weather .wTabBd .temperature .canvasChart .tcb6 .txt{top:39px;}
.weather .wTabBd .temperature .canvasChart .tcb7 .txt{top:39px;}
.weather .wTabBd .temperature .canvasChart .tcb8 .txt{top:26px;}
.weather .wTabBd .temperature .canvasChart .tcb9 .txt{top:32px;}

.weather .wTabBd .correlation li{
   border-bottom: 1px solid rgba(255,255,255,0.2);
   float:left;width:240px;height:32px;line-height:32px;
   position:relative;
   margin-left:17px;
   cursor:pointer;
}
.weather .wTabBd .correlation .exhi{
	 color:#fff;font:normal 16px/32px "Microsoft Yahei";
}
.weather .wTabBd .correlation .correlationDialog{
	 position:absolute;top:27px;left:0;z-index:1;display:none;
}
.weather .wTabBd .correlation .correlationDialog .arrow{
	position: absolute;left:35px;top: 1px;z-index: 2;
    border-color: transparent transparent white transparent;
    border-style: solid;border-width: 0 5px 5px 5px;
    width: 0;height: 0;
}
.weather .wTabBd .correlation .correlationDialog .cdCont{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 5px;padding: 10px;
	background: #fff;
}
.weather .wTabBd .correlation .correlationDialog .cdCont span{
    font-size: 14px;font-weight: bold;color:#555;
    line-height: 24px;
}
.weather .wTabBd .correlation .correlationDialog .cdCont p{
    line-height: 20px;color:#555;
}





.weather .wTabHd{
    height:27px;
}
.weather .wTabHd li{
	background: rgba(255,255,255,0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#20ffffff', endColorstr='#20ffffff');
    float:left;margin-right:1px;
    width:78px;
}
.weather .wTabHd li a{
    color:#fff;text-align:center;text-decoration: none;
    display:block;line-height:27px;
}
.weather .wTabHd li.first{
    width:106px;text-align:center;
}
.weather .wTabHd li.selected{
	background: rgba(255,255,255,0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#10ffffff, endColorstr=#10ffffff);
}
































